<ion-header>

    <ion-navbar no-border-bottom primary>

        <ion-buttons start>
            <button (click)="dismiss()">
                <span showWhen="ios">Done</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>ZG Beast of The East</ion-title>


        <!--<ion-buttons end>-->
        <!--<button (click)="dismiss()">-->
        <!--<span showWhen="ios">Share</span>-->
        <!--<ion-icon name="md-share" showWhen="android,windows"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->

    </ion-navbar>

    <ion-toolbar no-border-top primary>
        <button light outline small block (click)="goToSelectDivisionPage()">Boys 12U</button>
    </ion-toolbar>

</ion-header>

<ion-content class="standings">

    <ion-list-header>
        <b>AMERICAN BRONZE II</b>
    </ion-list-header>

    <ion-card class="custom-card">
        <ion-grid class="standings-grid">
            <ion-row class="grid-header">
                <ion-col width-45>TEAM</ion-col>
                <ion-col width-11>W</ion-col>
                <ion-col width-11>L</ion-col>
                <ion-col width-11>PS</ion-col>
                <ion-col width-11>PA</ion-col>
                <ion-col width-11>PD</ion-col>
            </ion-row>
            <ion-row class="grid-content" *ngFor="let team of teams">
                <ion-col width-45>{{team.name}}</ion-col>
                <ion-col width-11>{{team.w}}</ion-col>
                <ion-col width-11>{{team.l}}</ion-col>
                <ion-col width-11>{{team.ps}}</ion-col>
                <ion-col width-11>{{team.pa}}</ion-col>
                <ion-col width-11>{{team.pd}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-list-header>
        <b gray>AMERICAN GOLD</b>
        <ion-icon item-right name="star-outline" warning></ion-icon>
    </ion-list-header>

    <ion-card class="custom-card">
        <ion-grid class="standings-grid">
            <ion-row class="grid-header">
                <ion-col width-45>TEAM</ion-col>
                <ion-col width-11>W</ion-col>
                <ion-col width-11>L</ion-col>
                <ion-col width-11>PS</ion-col>
                <ion-col width-11>PA</ion-col>
                <ion-col width-11>PD</ion-col>
            </ion-row>
            <ion-row class="grid-content" *ngFor="let team of teams">
                <ion-col width-45>{{team.name}}</ion-col>
                <ion-col width-11>{{team.w}}</ion-col>
                <ion-col width-11>{{team.l}}</ion-col>
                <ion-col width-11>{{team.ps}}</ion-col>
                <ion-col width-11>{{team.pa}}</ion-col>
                <ion-col width-11>{{team.pd}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


    <ion-list-header>
        <b>AMERICAN SILVER</b>
    </ion-list-header>

    <ion-card class="custom-card">
        <ion-grid class="standings-grid">
            <ion-row class="grid-header">
                <ion-col width-45>TEAM</ion-col>
                <ion-col width-11>W</ion-col>
                <ion-col width-11>L</ion-col>
                <ion-col width-11>PS</ion-col>
                <ion-col width-11>PA</ion-col>
                <ion-col width-11>PD</ion-col>
            </ion-row>
            <ion-row class="grid-content" *ngFor="let team of teams">
                <ion-col width-45>{{team.name}}</ion-col>
                <ion-col width-11>{{team.w}}</ion-col>
                <ion-col width-11>{{team.l}}</ion-col>
                <ion-col width-11>{{team.ps}}</ion-col>
                <ion-col width-11>{{team.pa}}</ion-col>
                <ion-col width-11>{{team.pd}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>
