// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/home/home";
@import "../pages/teams/teams";
@import "../pages/auth/login/login";
@import "../pages/teams/tabs/chat/chat";
@import "../pages/teams/tabs/player/player";
@import "../pages/teams/teams";
@import "../pages/teams/tabs/seasons/seasons";
@import "../pages/tournament/tournament";
@import "../pages/tournament/details/details";
@import "../pages/tournament/standings/standings";
@import "../pages/practice-schedule/practice-schedule";

ion-content {
  background: /* top, transparent red, faked with gradient */
          linear-gradient(
                          rgba(255, 255, 255, 0.7),
                          rgba(255, 255, 255, 0.7)
          ),
            /* bottom, image */
          url("../../creampaper.png");

  color: color($colors, gray);
}

ion-tabbar {
  background: rgba(255,255,255,.3);
}

.item{
  padding-left: 8px;
}

ion-thumbnail > img.circle {
  border-radius: 300px
}

//taking away the item bg because the card is already colored
ion-card > .item {
  background: none;
}

ion-card{
  margin: 8px !important;
  width: calc(100% - 16px);
  background-color: rgba(255, 255, 255, .7)
}

.custom-card {
  box-shadow: none;
  border: 1px solid #e4e4e4;
}

// creates custom column widths

ion-col[width-45] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}

ion-col[width-15] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 15%;
  -ms-flex: 0 0 15%;
  flex: 0 0 15%;
  max-width: 15%;
}

ion-col[width-11] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 11%;
  -ms-flex: 0 0 11%;
  flex: 0 0 11%;
  max-width: 11%;
}

ion-col[width-7] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7%;
  -ms-flex: 0 0 7%;
  flex: 0 0 7%;
  max-width: 7%;
}

ion-col[width-70] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70%;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}

//Standings Table Styles

// custom styles for the standings tables
ion-row.standings {
  border-bottom: 1px solid #eee;
  background-color: #fff;

  ion-col {
    height: 44px;
    line-height: 44px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    color: #333;
  }

  ion-col.standings-team {
    font-weight: 500;
  }

}

ion-grid.standings {
  margin-top: 20px;

}

.team-tabs-page .back-button {
  display: inline-block;
}

.item p {
  font-size: 1.4rem;
}

ion-item.header-item {
  border-bottom: 4px solid #444 !important;
}

.item {
  color: color($colors, secondary)
}

h2[title] {
  font-weight: 500;
  font-size: 1.9rem;
}

p[subtitle] {
  font-size: 1.7rem;
}

.custom-header {
  font-weight: 600;
  color: color($colors, light-gray) !important;
}

//******************************************************************

ion-card > ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

ion-thumbnail img {
  border-radius: 2px;
}

