<ion-header>
    <ion-navbar primary>

        <!--<ion-buttons start>-->
        <!--<button (click)="goToFilterTeamGenderPage()">-->
        <!--<ion-icon name="add-circle"></ion-icon>-->
        <!--</button>-->
        <!--</ion-buttons>-->

        <ion-segment [(ngModel)]="homeView" class="" light>
            <ion-segment-button value="teams">
                My Teams
            </ion-segment-button>
            <ion-segment-button value="players">
                My Players
            </ion-segment-button>
        </ion-segment>

        <!--<ion-title>My Teams</ion-title>-->

        <ion-buttons end>
            <button (tap)="presentPopover($event)">
                <ion-icon name="add-circle"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

    <!--<ion-toolbar primary no-border-top>-->
    <!--<button outline light small block>-->
    <!--All Teams-->
    <!--<ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>-->
    <!--</button>-->
    <!--</ion-toolbar>-->

</ion-header>

<ion-content [ngSwitch]="homeView">
 
    <div *ngSwitchCase="'teams'">
       <div *ngIf="dataLoading==false">
        <div  *ngFor="let team of FollowedTeams | groupfollowedteamsbyorgid">
            <ion-list-header>{{team.OrgName}}</ion-list-header>
            <ion-card>
                <ion-list no-wrap text-wrap *ngFor="let t of team.FollowedTeams">
                    <a ion-item (click)="goToTeamPage(t)">
                        <ion-avatar item-left class="A-6-S">
                            <img [src]="'medal-shadow.png'">
                        </ion-avatar> 
                        <h2 title>{{t.TeamName}} ({{t.Grade}}/{{setGender(t.Gender)}})</h2>
                        <p><b>Coach: </b>{{(t.CoachFirstName + " " + t.CoachLastName)|title}}</p>
                    </a>
                </ion-list>
            </ion-card>
        </div>
       </div>
         <div  text-wrap *ngIf="error==true">
            <div>
            <h6><b>CLICK ON THE + SYMBOL AT THE TOP RIGHT TO START FOLLOWING TEAMS</b></h6>
      </div>
    </div> 
    </div>

    <div *ngSwitchCase="'players'">
        <div *ngIf="playerdataLoading==false">
        <ion-card *ngFor="let followedplayer of FollowedPlayers; let i =index">
            <ion-list>
                <a ion-item (click)="goToPlayerTabs(followedplayer)">
                    <ion-thumbnail class="circle" item-left>
                        <img src="{{imagePath+''+followedplayer.CustodianPlayer.Avatar}}" alt="">
                    </ion-thumbnail>
                    <h2 title>{{(followedplayer.CustodianPlayer.FirstName|title) + " " + (followedplayer.CustodianPlayer.LastName|title)}}</h2>
                    <h3>{{followedplayer.CustodianPlayer.TeamName}}</h3>
                    <p class="pos"><b>#{{followedplayer.CustodianPlayer.JerseyNumber}}</b> | {{followedplayer.CustodianPlayer.Position}}</p>
                    <!--<p class="pos"><b>&nbsp;ID:</b> H34J7L</p>-->
                    <!--<p>8 Games Played | 4 Recorded</p>-->
                </a>
            </ion-list>
                    
             <ion-scroll class="stat-cards" scrollX="true">
                <ion-grid>
                    <ion-row>
                        <ion-col *ngFor="let stat of statCard; let j=index">
                            <ion-card>
                                <ion-grid>
                                    <ion-row class="stat-card-header">
                                        <ion-col>
                                            <div>{{stat.header}}</div>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row class="stat-card-data">
                                        <ion-col>
                                            <div>{{getStatValue(i,j)}}</div>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-card>
                        </ion-col>
                      <!--  <ion-col class="view-full-stats">
                            <ion-card>
                                <button block clear (click)="goToFullStatsPage()">
                                    Full Player Stats
                                    <ion-icon ios="md-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
                                </button>
                            </ion-card>
                        </ion-col>-->
                    </ion-row>
                </ion-grid>
            </ion-scroll>

            <div padding-thin b-t>
                <button block danger small outline (click)="goToStatEventsPage(followedplayer)">Record Stats</button>
            </div>

        </ion-card>
        </div>
        <div  text-wrap *ngIf="playererror==true">
            <div>
            <h6><b>CLICK ON THE + SYMBOL AT THE TOP RIGHT TO ADD PLAYER</b></h6>
            </div>
      </div>
    </div>


    <!--<div padding-horizontal>-->
    <!--<button outline block small>-->
    <!--&lt;!&ndash;<ion-icon name="add-circle-outline"></ion-icon>&ndash;&gt;-->
    <!--<span>Add Another Team</span>-->
    <!--</button>-->
    <!--</div>-->
    <ion-spinner name="bubbles"  style="display:block;margin:auto"  [style.visibility]="dataLoading? 'visible' : 'hidden'"></ion-spinner>
</ion-content>
