<ion-header>
    <ion-navbar primary>
        <ion-buttons start>
            <!--<button (click)="goToFilterSeachPage()">-->
            <!--<ion-icon ios="ios-add-circle-outline" md="md-add"></ion-icon>-->
            <!--</button>-->

            <button (click)="goToGenderPage()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>My Teams</ion-title>
        <!--<ion-searchbar (input)="getItems($event)" placeholder="Search Tournaments"></ion-searchbar>-->
        <ion-buttons end>
            <button (click)="goToSettingsListPage()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <!--<ion-toolbar primary>-->
    <!--<ion-searchbar (input)="getItems($event)"></ion-searchbar>-->
    <!--</ion-toolbar>-->

</ion-header>

<ion-content class="card-background-page">

    <!--<ion-list-header>Besketball Teams</ion-list-header>-->

    <!--<ion-card *ngFor="let team of basketballTeams" (click)="goToTeamTabPage()">-->

        <!--<img src="../../../purty_wood.png">-->

        <!--<div class="card-title">-->
            <!--{{team.name}}-->
        <!--</div>-->

        <!--<div class="card-subtitle">-->

            <!--Coach {{team.coach}}-->

            <!--<div class="Aligner">-->
                <!--<div class="Aligner-img">-->
                    <!--<img class="team-logo" src="{{team.img}}">-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</ion-card>-->

    <ion-list-header>Basketball Teams</ion-list-header>


    <ion-card class="team-card-basketball aligner" *ngFor="let team of basketballTeams" (click)="goToTeamTabPage()">
            <div class="aligner-content">
                <div class="header">{{team.name}}</div>
                <span class="subtitle">Coach {{team.coach}}</span>
                <img class="team-logo" src="{{team.img}}">
            </div>
    </ion-card>

    <ion-list-header>Soccer Teams</ion-list-header>


    <ion-card class="team-card-soccer aligner" *ngFor="let team of soccerTeams" (click)="goToTeamTabPage()">
            <div class="aligner-content">
                <div class="header">{{team.name}}</div>
                <span class="subtitle">Coach {{team.coach}}</span>
                <img class="logo" src="{{team.img}}">
            </div>
    </ion-card>


    <!--Soccer-->
    <!--<ion-list>-->
    <!--<ion-list-header>Soccer</ion-list-header>-->

    <!--<ion-item-sliding  *ngFor="let soccerTeam of soccerTeams">-->

    <!--<a ion-item text-wrap (click)="presentTeamActionSheet()">-->
    <!--<ion-thumbnail item-left>-->
    <!--<img src="{{soccerTeam.img}}">-->
    <!--</ion-thumbnail>-->
    <!--<h2>{{soccerTeam.name}}</h2>-->
    <!--<p>Coach {{soccerTeam.coach}}</p>-->
    <!--&lt;!&ndash;<p><span danger-lite>Out of Season</span></p>&ndash;&gt;-->
    <!--</a>-->

    <!--<ion-item-options side="right">-->
    <!--<button danger (click)="goToTournamentDetailsPage()">-->
    <!--<ion-icon name="remove-circle"></ion-icon>-->
    <!--Remove-->
    <!--</button>-->
    <!--</ion-item-options>-->

    <!--</ion-item-sliding>-->
    <!--</ion-list>-->

</ion-content>
