<ion-header class="message-board">
    <ion-navbar primary no-border-bottom>

        <ion-title>Spartans Boys 12U</ion-title>

        <ion-buttons end>
            <button (click)="goToComposePage()">
                <ion-icon name="create"></ion-icon>
            </button>
            <button (click)="goToComposePage()">
                <ion-icon name="camera"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

    <!--<ion-toolbar primary no-border-top>-->
        <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
    <!--</ion-toolbar>-->

</ion-header>

<ion-content class="message-board">

    <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
        <!--<ion-refresher-content></ion-refresher-content>-->
    <!--</ion-refresher>-->

    <!--<ion-toolbar primary no-border-top>-->
        <!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>-->
    <!--</ion-toolbar>-->

    <ion-card class="custom-card" *ngFor="let img of images">
        <img src="{{img.img}}" alt="">
    </ion-card>
    <ion-card class="custom-card" *ngFor="let message of messages">
        <h2 class="message-title">{{message.title}}</h2>
        <p class="message-timestamp">{{message.dateStamp}} @ {{message.timeStamp}}</p>
        <hr>
        <span class="message-body">{{message.body}}</span>
        <img src="{{message.img}}" alt="">
        <p class="message-author">- Coach {{message.author}}</p>
    </ion-card>

</ion-content>

