<ion-header>
    <ion-navbar primary>

        <ion-title>Find Your Team</ion-title>
        <!--<ion-searchbar (input)="getItems($event)" placeholder="Find Your Team"></ion-searchbar>-->

        <ion-buttons end>
            <button *ngIf="((boysteamsFollowed.length!=0)||(girlsteamsFollowed.length!==0))" (click)="saveFollowedTeams()">
                <span showWhen="ios">Done</span>
                <ion-icon name="md-checkmark" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

    <!--<ion-toolbar primary>-->
    <!--<ion-searchbar (input)="getItems($event)"></ion-searchbar>-->
    <!--</ion-toolbar>-->

</ion-header>

<ion-content class="follow-teams">

    <!--<ion-toolbar class="clear">-->
        <!--<button block outline small dark-6>New Hampshire</button>-->
    <!--</ion-toolbalr>-->

    <ion-toolbar class="clear has-segment" no-border-top no-border-bottom>
        <ion-segment  [(ngModel)]="teamGender" class="wide" primary>
            <ion-segment-button value="boys">
               {{selectedState.StateCode}} Boys Teams
            </ion-segment-button>
            <ion-segment-button value="girls">
               {{selectedState.StateCode}} Girls Teams
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    
    <div [ngSwitch]="teamGender">
     <div *ngSwitchCase="'boys'">
          <div *ngIf="dataLoading==false">
            <ion-card text-wrap *ngFor="let boysteam of boysteams| groupboysteamsbyorgid">
                <ion-list-header>{{boysteam.OrgName}}</ion-list-header>
                <ion-list>
                    <ion-item text-wrap *ngFor="let team of boysteam.boysteams">
                            <h2 title>{{team.TeamName}}</h2>
                            <p>Coach {{team.CoachFirstName + ' ' + team.CoachLastName}} </p>
                            <button *ngIf="true == !checkBoysFollowedTeams(team.TeamId)" item-right  (click)="followBoysTeams(team)">Follow</button>
                            <button *ngIf="true == checkBoysFollowedTeams(team.TeamId)" primary item-right outline (click)="unfollowBoysTeams(team)">UnFollow</button>
                        </ion-item>
                    </ion-list>
            </ion-card>
      </div>
      <div class="card" [style.display]="((boysteams.length == 0)&&(dataLoading==false))? 'visible' : 'none'">
      <div class="item">
        <h3>No boys team(s) found.</h3>
      </div>
    </div>
    </div>
    <div *ngSwitchCase="'girls'">
      <ion-card  text-wrap *ngFor="let girlsteam of girlsteams | groupgirlsteamsbyorgid">
           <ion-list-header>{{girlsteam.OrgName}}</ion-list-header>
           <ion-list>
               <ion-item text-wrap *ngFor="let team of girlsteam.girlsteams">
                    <h2 title>{{team.TeamName}}</h2>
                    <p>Coach {{team.CoachFirstName + ' ' + team.CoachLastName}} </p>
                     <button *ngIf="true == !checkGirlsFollowedTeams(team.TeamId)" item-right  (click)="followGirlsTeams(team)">Follow</button>
                     <button *ngIf="true == checkGirlsFollowedTeams(team.TeamId)" primary item-right outline (click)="unfollowGirlsTeams(team)">UnFollow</button>                                    
                </ion-item>
            </ion-list>
      </ion-card>
      <div class="card" [style.display]="((girlsteams.length == 0)&&(dataLoading==false))? 'visible' : 'none'">
      <div class="item">
        <h3>No girls team(s) found.</h3>
      </div>
    </div> 

 </div> 
 </div>  
  <ion-spinner name="bubbles"  style="display:block;margin:auto"  [style.visibility]="dataLoading? 'visible' : 'hidden'"></ion-spinner>
</ion-content>