<ion-header>
    <ion-navbar no-border-bottom primary>

        <ion-title>Spartans Boys 12U</ion-title>

    </ion-navbar>

    <ion-toolbar primary no-border-top>
        <ion-segment [(ngModel)]="scheduleView" light>
            <ion-segment-button value="tournament">
                Tournaments
            </ion-segment-button>
            <ion-segment-button value="league">
                Leagues
            </ion-segment-button>
            <ion-segment-button value="practice">
                Practices
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content class="seasons">


    <div [ngSwitch]="scheduleView">

        <div *ngSwitchCase="'tournament'">
            <ion-list-header text-wrap>Zero Gravity Fall 2016 - NE Circuit</ion-list-header>

            <ion-card class="custom-card">
                <ion-list text-wrap>
                    <a ion-item text-wrap *ngFor="let tournament of myTournaments" (click)="goToTournament()">
                        <ion-avatar class="square" item-left>
                            <img src="{{tournament.img}}">
                        </ion-avatar>
                        <h2 title>{{tournament.name}}</h2>
                        <p subtitle>{{tournament.date}}</p>
                        <ion-note item-right>3 - 0</ion-note>
                        <!--<button outline item-right (click)="goToPurchaseSeasonPage()">Get</button>-->
                    </a>
                </ion-list>
                <div class="padding-thin">
                    <button block outline small primary (click)="goToPurchaseSeasonPage()">
                        Get them all with a Season Pass
                    </button>
                    <!--<h2 primary>Get them all with a Season Pass</h2>-->
                </div>
            </ion-card>
        </div>

        <div *ngSwitchCase="'league'">
            <ion-list-header text-wrap>Zero Gravity Fall 2016 - New England Circut</ion-list-header>

            <ion-card class="custom-card">
                <ion-list text-wrap>
                    <a ion-item text-wrap *ngFor="let league of myLeagues.ZG" (click)="goToTournament()">
                        <ion-avatar class="square" item-left>
                            <img src="{{league.img}}">
                        </ion-avatar>
                        <h2 title>{{league.name}}</h2>
                        <p subtitle>{{league.date}}</p>
                    </a>
                </ion-list>
            </ion-card>

            <ion-list-header text-wrap>Hoop Group Winter 2016</ion-list-header>


            <ion-card class="custom-card">
                <ion-list text-wrap>
                    <a ion-item text-wrap *ngFor="let league of myLeagues.HG" (click)="goToTournament()">
                        <ion-avatar class="square" item-left>
                            <img src="{{league.img}}">
                        </ion-avatar>
                        <h2 title>{{league.name}}</h2>
                        <p subtitle>{{league.date}}</p>
                    </a>
                </ion-list>
            </ion-card>
        </div>

        <div *ngSwitchCase="'practice'">
            <h1 help text-center padding-top>Oh No!</h1>
            <h3 padding text-center>Your coach hasn't input the practice schedule.</h3>
            <div class="padding-thin">
                <button block>Create Practice Schedule</button>
            </div>
        </div>
    </div>

</ion-content>