<ion-header>
    <ion-navbar primary>

        <ion-title>Spartans Boys 12U</ion-title>

        <ion-buttons end>
            <button (click)="goToSettingsListPage()">
                <ion-icon name="switch"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let spartan of spartans" (click)="dismiss()">
            <ion-thumbnail item-left>
                <img src="{{spartan.img}}">
            </ion-thumbnail>
            <h2 title>{{spartan.name}}</h2>
            <p sub>Coach {{spartan.coach}}</p>
            <!--<ion-icon item-right name="information-circle"></ion-icon>-->
        </ion-item>
    </ion-list>

    <ion-list>
        <a ion-item text-wrap *ngFor="let teamPage of teamPages">
            <ion-note item-right>{{teamPage.num}}</ion-note>
            <h2 primary>{{teamPage.name}}</h2>
        </a>
    </ion-list>

    <div padding>
        <button block outline>
            Get Premium Access
        </button>
    </div>

</ion-content>