<ion-header>
    <ion-navbar primary no-border-bottom>

        <ion-buttons start>
            <button (click)="dismiss()">
                <span>Done</span>
            </button>
        </ion-buttons>

        <ion-title>Events</ion-title>

        <!--<ion-buttons end>-->
        <!--<button (click)="dismiss()">-->
        <!--<span>Done</span>-->
        <!--</button>-->
        <!--</ion-buttons>-->

    </ion-navbar>

 <!--   <ion-toolbar class="has-segment" no-border-top primary>
        <ion-segment [(ngModel)]="scheduleView" class="wide" light>
            <ion-segment-button value="tournament">
                Tournaments
            </ion-segment-button>
            <ion-segment-button value="league">
                Leagues
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar> -->

</ion-header>

<ion-content class="stat-events">

<!--  <div [ngSwitch]="scheduleView"> -->

    <div>
    <ion-toolbar class="clear has-segment" no-border-top no-border-bottom>
        <ion-segment [(ngModel)]="timeView" class="wide" dark-6>
            <ion-segment-button value="completed">
                Completed
            </ion-segment-button>
            <ion-segment-button value="ongoing">
                Ongoing
            </ion-segment-button>
         <!--   <ion-segment-button value="upcoming">
                Upcoming
            </ion-segment-button>-->
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="timeView">
        <div *ngSwitchCase="'completed'">
            <div text-wrap *ngFor="let tournaments of pastTournaments | grouppasttournaments">
                <ion-list-header>{{tournaments.SeasonName}}</ion-list-header>
                <ion-card>
                    <ion-item text-wrap *ngFor="let tourn of tournaments.pastTournaments">
                      <!--  <ion-avatar class="A-6-S" item-left>
                            <img src="http://admin.tourneymachine.com/Public/CustomerFiles/h201310220800267707a0d3c45337b49/ZG%20Desktop%20Logo.png">
                        </ion-avatar> -->
                        <a (click)="goToSelectedStatEventPage(tourn)">
                            <h2 title>{{tourn.TournamentName}}</h2>
                            <p subtitle>{{getDate(tourn.StartDate)}} - {{getDate(tourn.EndDate)}}</p>
                        </a>
                    </ion-item>
                </ion-card>
            </div>
        </div>
        <div *ngIf="dataLoading==false">
            <div *ngSwitchCase="'ongoing'">
                <div text-wrap *ngFor="let tournaments of currentTournaments | groupcurrenttournaments">
                    <ion-list-header>{{tournaments.SeasonName}}</ion-list-header>
                    <ion-card>
                        <ion-item text-wrap *ngFor="let tourn of tournaments.currentTournaments">
                          <!--  <ion-avatar class="A-6-S" item-left>
                                <img src="http://admin.tourneymachine.com/Public/CustomerFiles/h201310220800267707a0d3c45337b49/ZG%20Desktop%20Logo.png">
                            </ion-avatar> -->
                            <a (click)="goToSelectedStatEventPage(tourn)">
                                <h2 title>{{tourn.TournamentName}}</h2>
                                <p subtitle>{{getDate(tourn.StartDate)}} - {{getDate(tourn.EndDate)}}</p>
                            </a>
                        </ion-item>
                    </ion-card>
                </div>
            </div>
        </div>
      <!--  <div *ngSwitchCase="'upcoming'">
            <div text-wrap *ngFor="let tournaments of futureTournaments | groupfuturetournaments">
                <ion-list-header>{{tournaments.SeasonName}}</ion-list-header>
                <ion-card>
                    <ion-item text-wrap *ngFor="let tourn of tournaments.futureTournaments">
                        <ion-avatar class="A-6-S" item-left>
                            <img src="http://admin.tourneymachine.com/Public/CustomerFiles/h201310220800267707a0d3c45337b49/ZG%20Desktop%20Logo.png">
                        </ion-avatar>
                        <a (click)="goToSelectedEventPage(tourn)">
                            <h2 title>{{tourn.TournamentName}}</h2>
                            <p subtitle>{{getDate(tourn.StartDate)}} - {{getDate(tourn.EndDate)}}</p>
                        </a>

                    </ion-item>
                </ion-card>
            </div>
        </div>-->
        <div *ngSwitchCase="'completed'" [style.display]="((pastTournaments.length == 0)&&(dataLoading==false))? 'visible' : 'none'">
            <div>
                <h6 small>&nbsp;&nbsp;&nbsp;&nbsp;No completed tournament(s) found.</h6>
            </div>
        </div>
        <div *ngSwitchCase="'ongoing'" [style.display]="((currentTournaments.length == 0)&& (dataLoading==false))? 'visible' : 'none'">
            <div>
                <h6 small>&nbsp;&nbsp;&nbsp;&nbsp;No ongoing tournament(s) found.</h6>
            </div>
        </div>
     <!--   <div *ngSwitchCase="'upcoming'" [style.display]="((futureTournaments.length == 0)&&(dataLoading==false))? 'visible' : 'none'">
            <div>
                <h6 small>&nbsp;&nbsp;&nbsp;&nbsp;No upcoming tournament(s) found.</h6>
            </div>
        </div>-->
    </div>
     <ion-spinner name="bubbles"  style="display:block;margin:auto"  [style.visibility]="dataLoading? 'visible' : 'hidden'"></ion-spinner>
    </div>
    <!--    <div *ngSwitchCase="'league'">
           <ion-list-header text-wrap>Zero Gravity Fall 2016 - New England Circut</ion-list-header>

            <ion-card class="">
                <ion-list>
                    <a ion-item text-wrap *ngFor="let league of myLeagues.ZG">
                        <ion-avatar class="A-6-S" item-left>
                            <img src="{{league.img}}">
                        </ion-avatar>
                        <h2 title>{{league.name}}</h2>
                        <p subtitle>{{league.date}}</p>
                    </a>
                </ion-list>
            </ion-card>


            <ion-list-header text-wrap>Hoop Group Winter 2016</ion-list-header>

            <ion-card class="">
                <ion-list>
                    <a ion-item text-wrap *ngFor="let league of myLeagues.HG">
                        <ion-avatar class="A-6-S" item-left>
                            <img src="{{league.img}}">
                        </ion-avatar>
                        <h2 title>{{league.name}}</h2>
                        <p subtitle>{{league.date}}</p>
                    </a>
                </ion-list>
            </ion-card>
        </div>-->
<!--  </div>-->

    <!--<ion-list-header>Zero Gravity 2016 Fall Season - NE Circuit</ion-list-header>
    <ion-card>
        <ion-list text-wrap>
            <a ion-item text-wrap (click)="goToSelectedStatEventPage()"
               *ngFor="let tournament of myTournaments">
                <ion-avatar class="A-6-S" item-left>
                    <img src="{{tournament.img}}">
                </ion-avatar>
                <h2 title>{{tournament.name}}</h2>
                <p subtitle>{{tournament.date}}</p>
            </a>
        </ion-list>

    </ion-card>-->

</ion-content>