.player {

  .player {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .meta {
    font-size: 1.5rem;
  }

  div.padding-thin {
    padding: 8px;
  }
  ion-grid.standings-grid {
    padding: 0px;
    //padding-left: 0px;
    //padding-right: 0px;

    ion-row {
      //border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      background: #fff;
    }

    ion-col {
      font-size: 1.4rem;
      text-align: center;
    }

    ion-row.grid-header {
      color: color($colors, primary);
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      //background: #fff;

      ion-col {
        line-height: 1.4rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }

    ion-row.grid-content {
      //line-height: 1.8rem;
      padding-bottom: 5px;
    }
  }
}
