<ion-header>
    <ion-navbar primary no-border-bottom>

        <ion-buttons start>
            <button (click)="dismiss()">
                <span>Close</span>
            </button>
        </ion-buttons>

        <ion-title>{{tournamentName}}</ion-title>

    </ion-navbar>

    <ion-toolbar class="" no-border-top primary>
        <button  small light outline  block (click)="presentTeamPopover($event)">{{teamFilter}}</button>
    </ion-toolbar>

</ion-header>

<ion-content class="tournament">

    <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
    <!--</ion-refresher>-->
 <div *ngIf="filteredCompletedPoolGames.length != 0">
    <ion-list-header>Completed Pool Games</ion-list-header>

    <ion-card class="matchup" *ngFor="let game of filteredCompletedPoolGames" (click)="goToGameDetailsPage(game,'completed')">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team1Name}}</h2>
                            <p>{{game.Coach1Name}}</p>
                              <h1 item-right  class="winner" [hidden]="game.TournTeamId1Score<game.TournTeamId2Score">{{game.TournTeamId1Score}}</h1>
                              <h1 item-right  class="" [hidden]="game.TournTeamId1Score>=game.TournTeamId2Score">{{game.TournTeamId1Score}}</h1>
                          <!--  <h1 item-right class="winner">{{game.TournTeamId1Score}}</h1>-->
                        </ion-item>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team2Name}}</h2>
                            <p>{{game.Coach2Name}}</p>
                             <h1 item-right  class="winner" [hidden]="game.TournTeamId2Score<game.TournTeamId1Score">{{game.TournTeamId2Score}}</h1>
                             <h1 item-right  class="" [hidden]="game.TournTeamId2Score>=game.TournTeamId1Score">{{game.TournTeamId2Score}}</h1>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
 </div>
 <!--  <div class="card" *ngIf="filteredCompletedPoolGames.length == 0">
       <div class="item">
          <h3 title>No Completed Pool Game(s) found.</h3>
       </div>
   </div>-->
  <div *ngIf="filteredOngoingPoolGames.length != 0">
    <ion-list-header>Ongoing Pool Games</ion-list-header>

    <ion-card class="matchup" *ngFor="let game of filteredOngoingPoolGames" (click)="goToGameDetailsPage(game,'ongoing')">
        <ion-grid>
            <ion-row>
                <ion-col width-75>
                    <ion-list>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team1Name}}</h2>
                            <p>{{game.Coach1Name}}</p>
                        </ion-item>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team2Name}}</h2>
                            <p>{{game.Coach2Name}}</p>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col with-25 class="date-time">
                     <p>
                        <span class="date">{{game.FormatGameDate}}</span>
                        <br>
                        <span class="time">{{convertToAmPm(game.StartDateTime.substring(11,16))}}</span>
                    </p>
                </ion-col>
            </ion-row>
            <!--<ion-row class="footer">-->
                <!--<ion-col>-->
                    <!--<p><small><ion-icon name="pin"></ion-icon></small> {{game.facility}} - Court {{game.court}}</p>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        </ion-grid>
    </ion-card>
  </div>
 <!--   <div class="card" *ngIf="filteredOngoingPoolGames.length == 0">
       <div class="item">
          <h3 title>No Ongoing Pool Game(s) found.</h3>
       </div>
   </div> -->
    <div *ngIf="filteredUpcomingPoolGames.length != 0">
    <ion-list-header>Upcoming Pool Games</ion-list-header>

    <ion-card class="matchup" *ngFor="let game of filteredUpcomingPoolGames" (click)="goToGameDetailsPage(game,'upcoming')">
        <ion-grid>
            <ion-row>
                <ion-col width-75>
                    <ion-list no-wrap>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team1Name}}</h2>
                            <p>{{game.Coach1Name}}</p>
                        </ion-item>
                        <ion-item>
                            <ion-avatar class="A-4" item-left>
                                <img src="medal-shadow.png" alt="">
                            </ion-avatar>
                            <h2 title>{{game.Team2Name}}</h2>
                            <p>{{game.Coach2Name}}</p>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col with-25 class="date-time">
                    <p>
                        <span class="date">{{game.FormatGameDate.substring(0,3)}}</span>
                        <br>
                        <span class="time">{{convertToAmPm(game.StartDateTime.substring(11,16))}}</span>
                    </p>
                </ion-col>
            </ion-row>
            <!--<ion-row class="footer">-->
                <!--<ion-col>-->
                    <!--<p><small><ion-icon name="pin"></ion-icon></small> {{game.facility}} - Court {{game.court}}</p>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        </ion-grid>
    </ion-card>
    </div>
      <div  *ngIf="((filteredUpcomingPoolGames.length == 0)&&(filteredOngoingPoolGames.length==0)&&(filteredCompletedPoolGames.length==0)&&(dataLoading==false)&&(scheduleerror==''))">
          <h6>No schedule found.</h6>
   </div> 
   <div  *ngIf="((filteredUpcomingPoolGames.length == 0)&&(filteredOngoingPoolGames.length==0)&&(filteredCompletedPoolGames.length==0)&&(dataLoading==false)&&(scheduleerror!=''))">
          <h6>{{scheduleerror}}</h6>
   </div>
 <!-- </div> -->
 <ion-spinner name="bubbles"  style="display:block;margin:auto"  [style.visibility]="dataLoading? 'visible' : 'hidden'"></ion-spinner>
</ion-content>
