<ion-header class="clear">
    <ion-navbar primary class="clear" no-border-bottom>
        <ion-title class="title-dark">
            Step 2 of 2
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="signup">

    <div>
        <h1 class="signup-message">
             Create your username <br/>and password
        </h1>
    </div>

    <ion-list class="name auth-list">
       <form   [formGroup]="getEmailForm" (submit)="goToMyTeamsPage()">
        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input  class="signup-email" [formControl]="getEmailForm.controls['Email']" type="email" value=""></ion-input>
        </ion-item>
        <div *ngIf ="getEmailForm.controls['Email'].touched">
            <div *ngIf ="!getEmailForm.controls['Email'].valid" class = "alert-danger">
            <strong>&nbsp;&nbsp;Invalid Email</strong>
            </div>  
        </div>
        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input  class="signup-password"  [formControl]="getEmailForm.controls['Password']"  type="password" value=""></ion-input>
        </ion-item>
        <div *ngIf ="getEmailForm.controls['Password'].touched">
            <div *ngIf ="!getEmailForm.controls['Password'].valid" class = "alert-danger">
            <strong>&nbsp;&nbsp;Password is required</strong>
            </div> 
        </div>
        <br/>
        <button  type="submit"  [disabled]="!getEmailForm.valid" round block light>
        All Done. Let's Get Started!
    </button>
          </form>
    </ion-list>

    
</ion-content>