<ion-header class="message-board">
    <ion-navbar primary no-border-bottom>

        <ion-title>
            Message Board
            <!--<ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>-->
        </ion-title>

     <!--   <ion-buttons end>
            <button (click)="goToComposeMessagePage()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>-->
        <ion-buttons end>
            <button (click)="toggleSearch()">
                    <ion-icon name="search"></ion-icon>
                </button>
        </ion-buttons>
          <ion-buttons start>
            <button (click)="doRefresh()">
                <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <!--<ion-toolbar primary no-border-top>-->
    <!--<button outline light small block>-->
    <!--All Teams-->
    <!--<ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>-->
    <!--</button>-->
    <!--</ion-toolbar>-->

</ion-header>

<ion-content class="message-board">


    <ion-searchbar *ngIf="search==true" [(ngModel)]="SearchKeyword" (input)="onInput($event)" (cancel)="onCancel($event)"></ion-searchbar>
    <ion-card>
        <ion-item *ngIf="search==false">
            <ion-label stacked>Choose a Team</ion-label>
            <ion-select [(ngModel)]="TeamId" placeholder="All Teams" (ionChange)="filterTeam()">
                <ion-option value="-1">All Teams
                </ion-option>
                <ion-option *ngFor="let team of followedTeams" [value]="team.TeamId">{{team.TeamName}}
                </ion-option>
            </ion-select>

        </ion-item>
    </ion-card>

    <ion-card class="message-card" *ngFor="let message of filteredMessages | searchmessages : SearchKeyword">
        <ion-grid>
            <ion-row class="message-header">
                <ion-col width-30>
                    <p>
                        <small>
                            <ion-icon name="md-calendar"></ion-icon>
                        </small> {{getFormattedDate(message.MessageBoard.Created)}}
                    </p>
                </ion-col>
                <ion-col width-30>
                    <p>
                        <small>
                            <ion-icon name="ios-clock"></ion-icon>
                        </small> {{convertToAmPm(message.MessageBoard.Created.substring(11,16))}}
                    </p>
                </ion-col>
                <ion-col width-40 class="">
                    <p>
                        <small>
                            <ion-icon name="md-basketball"></ion-icon>
                        </small>
                        <span>{{message.MessageBoard.TeamName}}</span>
                    </p>
                </ion-col>
            </ion-row>
            <ion-row class="message-title">
                <ion-col width-85>
                    <h1>{{message.MessageBoard.Subject}}</h1>
                    <p class="message-info">
                        <small>
                            <ion-icon name="md-person"></ion-icon>
                        </small>
                        <span>{{message.MessageBoard.FirstName}} {{message.MessageBoard.LastName}}</span>
                    </p>
                    <div class="accent-bar"></div>
                </ion-col>
                <ion-col width-15>
                    <img src="medal-shadow.png" class="A-3" alt="">
                </ion-col>
            </ion-row>
            <ion-row class="message-body">
                <ion-col>
                    <p>{{message.MessageBoard.Message}}</p>
                </ion-col>
            </ion-row>
     <!--       <ion-row class="message-footer">
                <ion-col width-50>
                    <button item-left class="message-comment" clear small (click)="goToReplyMessagePage(message)">
                        <ion-icon name="undo"></ion-icon>
                        <span>Reply</span>
                    </button>
                </ion-col>
                <ion-col width-50>
                    <button item-left class="message-comment" clear primary small (click)="goToCommentsPage(message)">
                        <ion-icon name="chatbubbles"></ion-icon>
                        <span>{{getCount(message.MessageBoard.MsgId)}} comment(s)</span>
                    </button>

                </ion-col>
            </ion-row>-->
        </ion-grid>
    </ion-card>
    <ion-spinner name="ios-small" style="display:block;margin:auto" [style.visibility]="dataLoading? 'visible' : 'hidden'"></ion-spinner>
</ion-content>